<?xml version="1.0"?>
<configuration>    
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServicioalCliente.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServicioalCliente.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
      <clear/>
      <add name="SakifConn" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.100.2;Initial Catalog=Sakif;Persist Security Info=True;User ID=UserSakif;Password=Asd1234.;MultipleActiveResultSets=True"/>      
  </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
</startup>
    <userSettings>
        <ServicioalCliente.My.MySettings>
            <setting name="VendedoresGroupMode" serializeAs="String">
                <value>1</value>
            </setting>
        </ServicioalCliente.My.MySettings>
    </userSettings>
    <applicationSettings>
        <ServicioalCliente.My.MySettings>
            <setting name="ServicioalCliente_localhost_Service1" serializeAs="String">
                <value>http://localhost:55795/OrdersWebService.asmx</value>
            </setting>
        </ServicioalCliente.My.MySettings>
    </applicationSettings>
</configuration>
